<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../static/ss.css">

      <title>Landscape responsive card - Bedimcode</title>
   </head>
   <body>
      <div class="container">
        
         <div class="card__container">
            <article class="card__article">
               <img src="..\static\studentgrp.jpg" alt="image" class="card__img">

               <div class="card__data">
                  <!-- <span class="card__description">Student</span> -->
                  <h2 class="card__title">Student</h2>

                  <a href="/slogin" class="card__button">Login</a>
                  <a href="/signup" class="card__button_2">Sign Up</a>
               </div>
            </article>

            <article class="card__article">
               <img src="..\static\lu.jpeg" alt="image" class="card__img">

               <div class="card__data">
                  <!-- <span class="card__description">Institute</span> -->
                  <h2 class="card__title">Institute</h2>
                  <a href="/ilogin" class="card__button">Login</a>
                  <a href="/signup" class="card__button_2">Sign Up</a>
               </div>
            </article>

            
         </div>
      </div>
   </body>
</html>