<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/inst_style.css">
  <title>Document</title>
  
</head>
<body>
  <div class="overall">
    <div class="navbar">
      <div><h1>E-Certify</h1></div>
      <div><input type="text" placeholder="Search"></div>
    </div>
    <div class="content">
      <div class="sidebar">
        <h2>IIT Dharwad</h2>
        <hr>
        <a href="#">CDC</a><br>
        <a href="#">IIC</a><br>
        <a href="#">Others</a><br>
      </div>
      <div class="details">
     <a href="/certificate" class="even">Create Event</a>
  </div>
</body>
</html>